.inactif {
    display: none !important;
}

/*font*/
@font-face {
    font-family: 'Alfa';
    src: url('./assets/font/AlfaSlabOne-Regular.ttf');
}

@font-face {
    font-family: 'Abhaya';
    src: url('./assets/font/AbhayaLibre-ExtraBold.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('./assets/font/RobotoCondensed-Regular.ttf');
}

/*navbar*/
.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    height: 5.5rem;
    margin-left: 1rem;
}

.navbar-texts {
    margin-top: 5px;
    margin-right: 15px;
}

.nav-link {
    padding: 0.05rem 0.3rem !important;
    color: black;
}

.navbar-texts {
    display: flex !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    justify-content: flex-end;
}

.navbar-texts {
    margin-top: 0px !important;
    margin-right: 0px !important;
}

nav {
    height: 3.5rem;
    background-color: #E73725;
    font-family: 'Alfa';
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#navbarNav{
    height: 100%;
}

.navbar-nav{
    height: 100%;
    width: 100%;
    gap: 1%;
    align-items: center;
    justify-content: center;
}

.nav-item{
    height: 100%;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item.actif{
    background: #ffdd3d;
}

.nav-item.actif a{
    color: black !important;
}

.nav-item:hover{
    background: #ffdd3d;
}

.nav-item:hover a {
    color: black !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-toggler {
    position: absolute;
    right: 0;
}

/*home*/
.title {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: "Abhaya";
    color: #ffdd3d;
}

.underTitle {
    font-size: 1rem;
    color: #E73725;
    font-family: 'Alfa';
}

p {
    font-family: "roboto";
    font-size: 0.8rem;
}

.embed-responsive-item {
    height: 20rem;
    margin-bottom: 2%;
}

.title-what {
    font-weight: bold;
    font-size: 2rem;
    font-family: "roboto";
    color: #ffdd3d;
}

@media(max-width: 992px) {
    .embed-responsive-item {
        height: 15rem !important;
    }
}

/*carousel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-caption {
    color: black;
}

@media(max-width: 992px) {
    .img-carousel {
        width: 80%;
    }
}

/*card*/
.col {
    margin-top: 2rem !important;
    margin-bottom: 1rem;
}

.card {
    border: 2px solid black !important;
}

/*A propos*/
#Apropos .title {
    font-family: 'Alfa' !important;
    font-size: 1.5rem;
}

.img-coach {
    width: 30%;
}

.paragraph {
    margin-top: 1rem;
}

.slogan {
    font-size: 1.5rem !important;
    font-weight: bold;
}

/*Coaching*/
#coaching .title {
    font-family: 'roboto' !important;
    font-size: 1.5rem;
}

#coaching .btn-unstyled.btn-link:focus,
#coaching .btn-unstyled.btn-link:active {
    outline: none;
    box-shadow: none;
}

.btn-link {
    color: black !important;
    text-decoration: none;
    font-family: 'roboto';
}

.card-body {
    font-family: 'roboto';
    font-size: 0.8rem;
}

#coaching .card {
    margin: 0.5rem 0rem
}

/* Ref */
#Referentiel .title {
    font-family: 'Alfa' !important;
    font-size: 1.5rem;
}

.man{
    width: 17%;
}

.girl{
    width: 15%;
}

/* tarif */
#tarif {
    font-family: 'roboto';
}

#tarif p {
    margin-block-end: 0;
}

#tarif .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: none !important;
    background-color: #D9D9D9;
}

#tarif .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

#tarif .card-title {
    font-size: 1.5rem;
}

#tarif .card-text {
    font-size: 0.8rem;
}

.mgt-2 {
    margin-top: 2%;
}

#tarif button {
    margin-top: 4%;
}

#tarif .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tarif .title {
    font-family: 'Alfa' !important;
    font-size: 1.5rem;
}

.other {
    margin-bottom: 5%;
}

/* Questionnaire */
.img-question {
    width: 3rem;
}
.img-quest {
    width: 3.5rem;
}

.button-Q1,
.button-Q2,
.button-Q3,
.button-Q4,
.button-Q9,
.button-Q10 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E73725;
    font-family: "roboto";
    border: none;
}

.button-Q1:hover, .button-Q2:hover,
.button-Q3:hover,
.button-Q4:hover,
.button-Q9:hover,
.button-Q10:hover {
    background-color: #fb6756;
}

.button-Q9, .button-Q10{
    justify-content: center;
}

.question .title {
    font-family: "Alfa";
}

.question {
    font-family: "roboto";
    font-size: 1.5rem;
}

.arrow-button {
    margin-top: 3%;
    margin-bottom: 3%;
}

.btn-circle {
    border-radius: 50%;
    background-color: #E73725;
    color: #fff;
    box-shadow: none;
}

#question-12 .btn-circle {
    border-radius: 5rem;
    background-color: #E73725;
    color: #fff;
    box-shadow: none;
}

.btn-circle:hover {
    background-color: #fc5441;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #007bff;
    border: 2px solid #fff;
    border-radius: 50%;
}

#slider, #slider-1 {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #E73725;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider:hover, #slider-1:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb, #slider-1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: url('./assets/caret-down-solid.svg');
    background-size: 110%;
    cursor: pointer;
}

#slider::-moz-range-thumb, #slider-1::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: 0;
    background: url('./assets/caret-down-solid.svg');
    background-size: 110%;
    cursor: pointer;
}

#question-8 .slider-labels{
    padding-left: 8px;
    padding-right: 3px;
}

.text-slider{
    font-family: 'roboto';
    font-size: 1.2rem;
    font-weight: bold;
}

.form-check-input:checked {
    background-color: red;
    border-color: red;
}

.form-check-input:focus {
    border-color: #E73725;
    box-shadow: 0px 0px 8px 2px #E73725;
}

.form-control, .red-border {
    border-color: #E73725;
}

.form-control:focus {
    border-color: #E73725;
    box-shadow: 0px 0px 8px 2px #E73725;
}

.form-control{
    width: 50% !important;
}

.text-infos{
    margin-top: 4%;
    font-family: "roboto";
    font-size: 1.3rem;
    font-weight: bold;
}

.none{
    display: none;
}

.nope{
    pointer-events: none;
}

.exemples-imgs img {
    width: 6rem;
}

/* Pour afficher le texte "cm" à l'intérieur de l'input */
.input-group-addon {
    position: relative;
    border-left: none;
}

.input-group-addon::after {
    content: "cm";
    position: absolute;
    right: 5px;
}

/* footer */
footer a {
    color: #929292 !important;
}

footer {
    background-color: #26272b;
    padding: 3% 0 2%;
    color: #929292;
    font-family: 'roboto';
    left: 0;
    bottom: 0;
    width: 100%;
}

footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

footer hr.small {
    margin: 20px 0
}

footer h6 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.links {
    padding-left: 0;
    list-style: none
}

.links.inline li {
    display: inline-block
}

footer .social {
    text-align: right
}

footer .social a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

@media (max-width:991px) {
    footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    footer {
        padding-bottom: 0
    }

    footer .copyright-text,
    footer .social {
        text-align: center
    }
}

.social {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social li {
    display: inline-block;
    margin-bottom: 4px
}

.social li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social a.facebook:hover {
    background-color: #3b5998
}

.social a.twitter:hover {
    background-color: #00aced
}

.social a.linkedin:hover {
    background-color: #007bb6
}

.social a.instagram:hover {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(225, 48, 108, 1) 60%, rgba(252, 175, 69, 1) 100%);
}

@media (max-width:767px) {
    .social li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}